@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 100;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0076ec;
    color: #ededed;
}

.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}

.Navbar a {
    margin: 42px;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 30px;
    transition: .3 sec;

}

.map-container {
    height: auto;
    width: fit-content;
}


#map {
    margin: auto;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    transition: left 0.5s, top 0.5s;
}

svg {
    fill: aquamarine;
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
}

.sidemenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    max-width: 600px;
    right: -1000px;
    top: 80%;
    background-color: #ffffff;
    padding: 18px;
    position: fixed;
    transform: translateY(-50%);
    border-radius: 0.6em;
    box-shadow: 0 0.6em 2.5em rgba(0, 7, 70, 0.2);
    opacity: 0;
    transition: opacity 0.5s, right 0.8s;
}

.container.show {
    right: 40px;
    opacity: 1;
}

.container img {
    width: 4em;
    display: block;
    margin: auto;
}

#location-details {
    font-size: 20px;
    text-align: center;
    margin: 1em 0 1.7em 0;
    color: #021d38;
    font-weight: 500;
}

.container button {
    display: block;
    margin: auto;
    background-color: #42a1ff;
    color: #ffffff;
    border: none;
    font-size: 18pxem;
    padding: 18px;
    border-radius: 0.25em;
    cursor: pointer;
}

.cropinfo {
    position: fixed;
    top: 37%;
    right: -600px;
    transform: translateY(-50%);
    width: 600px;
    height: 425px;
    background-color: cornflowerblue;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s, right 0.5s;
    overflow: hidden;
}


.cropinfo.show {
    opacity: 1;
    right: 40px;
}

.cropinfo .content {
    width: 97%;
    height: 87%;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    overflow: auto;
}

.cropinfo .close {
    size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.cropinfo .buttons {
    margin: 2px;
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 5px;
    cursor: pointer;
}


.cultivation {
    position: fixed;
    top: 37%;
    right: -600px;
    transform: translateY(-50%);
    width: 600px;
    height: 425px;
    background-color: cornflowerblue;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s, right 0.5s;
    overflow: hidden;
}


.cultivation.show {
    opacity: 1;
    right: 40px;
}

.cultivation .content {
    width: 97%;
    height: 87%;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    overflow: auto;
}

.cultivation .close {
    size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.cultivation .buttons {
    margin: 2px;
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 5px;
    cursor: pointer;
}


.warnings {
    position: fixed;
    top: 37%;
    right: -600px;
    transform: translateY(-50%);
    width: 600px;
    height: 425px;
    background-color: cornflowerblue;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s, right 0.5s;
    overflow: hidden;
}


.warnings.show {
    opacity: 1;
    right: 40px;
}

.warnings .content {
    width: 97%;
    height: 87%;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    overflow: auto;
}

.warnings .close {
    size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.warnings .buttons {
    margin: 2px;
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 5px;
    cursor: pointer;
}