@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 100;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    /* min-height: 100vh; */
    display: block;
    /* align-items: center;
    justify-content: center; */
    color: #ededed;
    background-image: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}

section {
    /* min-height: 10vh; */
    padding: 10rem 9% 2rem;
}

.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}


.logo {
    position: relative;
    font-size: 25px;
    color:linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    text-decoration: none;
    font-weight: 600;

}

.Navbar a {
    margin: 30px;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}

.home {
    min-height: 110vh;
}

.map-container {
    height: auto;
    width: fit-content;
}


#map {
    margin: auto;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    transition: left 0.5s, top 0.5s;
}

svg {
    fill: darkgreen;
    stroke: white;
    stroke-width: 1px;
    cursor: pointer;
}

.crops {
    position: relative;
    display: flex;
    margin:auto;
    gap: 8px;
    max-height: 800px; 
    max-width: 1300px;
    width: 100%;
    background: #4070f4;
    border-radius: 12px;
    padding: 24px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

.crops .statename {
    position: absolute;
    top: 5%;
    left: 43.5%;
    margin: auto;
    background: #021d38;
    color: #42a1ff;
    padding: 10px;
    border-radius: 5px;
}

.crops .card {
    top: 10%;
    display: flex;
    min-height: 600px;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.card .image {
    height: 150px;
    width: 150px;
    padding: 4px;
    background: #4070f4;
    border-radius: 50%;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
}

.crops .card h2 {
    margin-top: 10px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    background-color: #000851;
    padding: 10px 2%;
    border-radius: 25px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.card p {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    text-align: center;
}


.cultivation {
    position: relative;
    display: flex;
    margin: auto;
    gap: 8px;
    max-height: 800px; 
    max-width: 1300px;
    width: 100%;
    background: #4070f4;
    border-radius: 12px;
    padding: 24px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

.cultivation .card {
    display: flex;
    min-height: 600px;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.card .image {
    height: 150px;
    width: 150px;
    padding: 4px;
    background: #4070f4;
    border-radius: 50%;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
}

.MajorCrops {
    position: relative;
    display: flex;
    margin: auto;
    gap: 8px;
    max-height: 700px; 
    max-width: 1300px;
    width: 100%;
    background: #4070f4;
    border-radius: 12px;
    padding: 24px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

.MajorCrops .card {
    display: flex;
    min-height: 600px;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.card .image {
    height: 150px;
    width: 150px;
    padding: 4px;
    background: #4070f4;
    border-radius: 50%;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
}

.warnings {
    position: relative;
    display: flex;
    margin: auto;
    gap: 8px;
    max-height: 700px; 
    max-width: 1300px;
    width: 100%;
    background: #4070f4;
    border-radius: 12px;
    padding: 24px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

.warnings .card {
    display: flex;
    min-height: 600px;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 12px;
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    overflow: auto;
}


.warnings .card h1 {
    margin-top: 10px;
    color: white;
    background: #4070f4;
    border-radius: 15px;
    padding: 24px;
    font-size: 18px;
  }
  
.card .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #f1f1f1;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 18px;    
    width: 200px;
}

.search button{
    border: 0;
    outline: 0;
    background: #f1f1f1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin: 10px;
}
.location button{
    border: 0;
    outline: 0;
    background: #f1f1f1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 18px;
}

.warnings .card .weather{
    display:none;
}

.warnings .card .weather .weather-icon {
    width: 140px;
    margin-top: 20px;
}

.card .error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.weather h2 {
    font-size: 60px;
    font-weight: 500;
    color: #f1f1f1;
}

.weather h3 {
    font-size: 35px;
    margin-top: -10px;
    font-weight: 400;
    color: #f1f1f1;
}

.weather{
    align-items: center;
    justify-content: space-between;
    margin: auto;
    display: contents;
}

.weather .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 80px; 
    width: 600px;
}

.details .col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 50px;
    margin-right: 10px;
}

.col .humidity, .col .wind {
    font-size: 25px;
    margin-top: -6px;
}